@font-face {
    font-family: 'Steravina';
    src: url('/images/Steravina.ttf') format('truetype');
}

body {
    font-family: 'Steravina', Arial, sans-serif;
    background-image: url("/images/DADBG.webp");
    background-attachment: fixed; 
    color: rgb(221, 149, 42);
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
}

.container2 {
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(221, 149, 42);
}

h2 {
    margin-top: 20px;
    color: rgb(221, 149, 42);
}

.controls {
    margin-top: 10px;
}

button {
    font-family: 'Steravina', Arial, sans-serif;
    padding: 5px 10px;
    border: 1px solid rgb(221, 149, 42);
    border-radius: 2px;
    background-color:#0000009a;
    color: rgb(221, 149, 42);
    cursor: pointer;
    margin: 0 5px;
}

button:hover {
    background-color: rgb(221, 149, 42);
    color: #121212;
}

.quest, .item {
    border: 1px solid rgb(221, 149, 42);
    padding: 10px;
    margin: 10px 0;
    border-radius: 2px;
}

.quest h4, .item h4 {
    margin: 0 0 10px;
    color: rgb(221, 149, 42);
}

.quest .requirements, .item .requirements {
    margin: 10px 0;
    color: rgb(221, 149, 42);
}

.quest.minimized .details {
    display: none;
}

.item-controls {
    display: flex;
    align-items: center;
}

.item-controls span {
    margin: 0 10px;
    color: rgb(221, 149, 42);
}

.merchant-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.merchant-button {
    max-width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    border: 2px solid rgb(221, 149, 42);
    border-radius: 1px;
    cursor: pointer;
    flex: 1 1 calc(16.666% - 20px);
    box-sizing: border-box;
    filter: grayscale(100%) brightness(30%);
    transition: filter 0.3s ease, box-shadow 0.3s ease;
}

.merchant-button:hover, .merchant-button.active {
    filter: grayscale(0%) brightness(100%);
    box-shadow: 0 0 15px 5px rgba(221, 149, 42);
}

.quest-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.quest .quest-complete-button {
    align-self: center;
    margin-top: 10px;
    width: fit-content;
}

.quest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    max-width: 500px;
    border: 1px solid rgb(221, 149, 42);
    padding: 10px;
    margin: 10px 0;
    border-radius: 2px;
    background-color:#0000009a
}

.map-viewer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.map-tabs {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
    border-right: 1px solid rgb(221, 149, 42);
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

.map-container img {
    max-width: 90vh;
    height: auto;
    border: 1px solid rgb(221, 149, 42);
}

.view-quests {
    display: block;
    text-align: center;
    text-decoration: underline;
    color: inherit;
    margin: 10px 0;
    cursor: pointer;
}

.view-maps {
    display: block;
    text-align: center;
    text-decoration: underline;
    color: inherit;
    margin: 10px 0;
    cursor: pointer;
}